<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
<name>AppYahoo</name>
<description>
    A sample webview app.
</description>
<author email="mihai@datagram.ro" href="https://yahoo.com">
    Me
</author>
<content src="index.html" />
<access origin="*" />

<preference name="Fullscreen" value="false" />
<preference name="Orientation" value="portrait" />

<config-file target="AndroidManifest.xml" parent="/app/src/main">
</config-file>

<plugin name="NetworkStatus" value="org.apache.cordova.NetworkManager" />

</widget>